<div class="container">
  <h1 class="display-5 text-center my-4">Auto Margins & Wrapping</h1>

  <!--########################START HERE#########################-->

  <!-- MR-AUTO -->
  <div class="row-hl">
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
  </div>

  <br><br>

  <!-- ML-AUTO -->
  <div class="row-hl">
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
  </div>

  <br><br>

  <!-- MB-AUTO -->
  <div class="row-hl">
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
  </div>

  <br><br>

  <!-- MT-AUTO -->
  <div class="row-hl">
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
  </div>

  <br><br>

  <!-- NO WRAP -->
  <div class="row-hl">
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>

  </div>

  <br><br>

  <!-- WRAP -->
  <div class="row-hl">
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
    <div class="p-2 item-hl">Flex item</div>
  </div>

  <br><br>

  <!-- ORDERING -->
  <div class="row-hl">
    <div class="p-2 item-hl">First flex item</div>
    <div class="p-2 item-hl">Second flex item</div>
    <div class="p-2 item-hl">Third flex item</div>
  </div>


</div>
