<div class="container">
  <h1 class="display-5 text-center my-4">Breakpoints</h1>

  <!--########################START HERE#########################-->
  <code>
    &lt;div class="reactiveBox"&gt;
    &lt;/div&gt;
  </code>
  <div class="reactiveBox"></div>
  <pre>
    <code>
      /* Small devices (landscape phones) */
      @media (min-width: 576px) &#123;
      ########## this will not work #########
        body&#123;
          background: red;
        &#125;
      ########## this will not work #########

      ############ this will work ###########
         .reactiveBox&#123;
          background: red;
        &#125;
      ############ this will work ###########
      &#125;

      /* Medium devices (tablets) */
      @media (min-width: 768px) &#123;
        body&#123;
          background: blue;
        &#125;
      &#125;

      /* Large devices (desktops) */
      @media (min-width: 992px) &#123;
        body&#123;
          background: green;
        &#125;
      &#125;

      /* Extra large devices (large desktops) */
      @media (min-width: 1200px) &#123;
        body&#123;
          background: yellow;
        &#125;
      &#125;

    </code>
  </pre>
  <br>
  <div class="note">@media css calls will NOT work on elements outside the component that would have to be done with javascript
    <br> use a service (if you want to implement changes in multiple components, use @HostListener or create an Observable and subscribe... </div>

</div><!-- ./container -->
