<div class="container">
  <h1 class="display-5 text-center my-4">Breakpoints</h1>

  <!--########################START HERE#########################-->
  <pre>
    <code>
      /* Small devices (landscape phones) */
      @media (min-width: 576px) &#123;
        body&#123;
          background: red;
        &#125;
      &#125;

      /* Medium devices (tablets) */
      @media (min-width: 768px) &#123;
        body&#123;
          background: blue;
        &#125;
      &#125;

      /* Large devices (desktops) */
      @media (min-width: 992px) &#123;
        body&#123;
          background: green;
        &#125;
      &#125;

      /* Extra large devices (large desktops) */
      @media (min-width: 1200px) &#123;
        body&#123;
          background: yellow;
        &#125;
      &#125;

      /* The given screen size or smaller */

      /* Extra small devices (portrait phones)*/
      @media (max-width: 575px) &#123;&#125;

      /* Small devices (landscape phones)*/
      @media (max-width: 767px) &#123;&#125;

      /* Medium devices (tablets)*/
      @media (max-width: 991px) &#123;&#125;

      /* Large devices (desktops)*/
      @media (max-width: 1199px) &#123;&#125;

    </code>
  </pre>

</div><!-- ./container -->
