/* Small devices (landscape phones) */
.reactiveBox{
  height: 100px;
  width: 100px;
  background-color: #333333;
}
@media (min-width: 576px) {
  .reactiveBox{
  background: green;
}
}

/* Medium devices (tablets) */
@media (min-width: 768px) {
  .reactiveBox{
    background: yellow;
  }
}

/* Large devices (desktops) */
@media (min-width: 992px) {
  .reactiveBox{
    background: red;
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
  .reactiveBox{
    background: blue;
  }
}

/* The given screen size or smaller */

/* Extra small devices (portrait phones)*/
@media (max-width: 575px) {}

/* Small devices (landscape phones)*/
@media (max-width: 767px) {}

/* Medium devices (tablets)*/
@media (max-width: 991px) {}

/* Large devices (desktops)*/
@media (max-width: 1199px) {}
