<div class="container">
  <h1 class="display-5 text-center my-4">Cards</h1>

  <!--########################START HERE#########################-->

  <!-- BLOCK -->
  <div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, voluptate.
    </div>
  </div>

  <br><br>

  <!-- SIMPLE CARD -->
  <div>
    <div>
      <h4>Card Title</h4>
      <h6>Card subtitle</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quas.</p>
      <a href="#">Read More</a>
    </div>
  </div>

  <br><br>

  <!-- CARD WITH IMAGE -->
  <div style="width:20rem">
    <img src="http://lorempixel.com/300/300/sports/" alt="Card image cap">
    <div>
      <h4>Card Title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quas.</p>
      <a href="#">Read More</a>
    </div>
  </div>

  <br><br>

  <!-- CARD WITH HEADER -->
  <div>
    <div>
      My Card
    </div>
    <div>
      <h4>Card Title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, perspiciatis.</p>
      <a href="#">Read More</a>
    </div>
  </div>

  <br><br>

  <!-- HEADER, FOOTER, CENTERED -->
  <div>
    <div>
      <h4>My Card</h4>
    </div>
    <div>
      <h4>Card Title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, perspiciatis.</p>
      <a href="#">Read More</a>
    </div>
    <div>
      2 Days Ago
    </div>
  </div>

  <br><br>

  <!-- CARD WITH NAV -->
  <div>
    <div>
      <ul>
        <li>
          <a href="#">Active</a>
        </li>
        <li>
          <a href="#">Link</a>
        </li>
        <li>
          <a href="#">Disabled</a>
        </li>
      </ul>
    </div>
    <div>
      <h4>Card Title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, perspiciatis.</p>
      <a href="#">Read More</a>
    </div>
  </div>

  <br><br>

  <!-- IMAGE OVERLAYS -->
  <div>
    <img src="http://lorempixel.com/900/200/sports/">
    <div>
      <h4>Card title</h4>
      <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p><small>Last updated 3 mins ago</small></p>
    </div>
  </div>

  <br><br>

  <!-- BACKGROUND COLOR -->
  <div>
    <div>Header</div>
    <div>
      <h4>Primary card title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </div>
  </div>

  <div>
    <div>Header</div>
    <div>
      <h4>Secondary card title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </div>
  </div>

  <div>
    <div>Header</div>
    <div>
      <h4>Success card title</h4>
      <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div>
    <div>Header</div>
    <div>
      <h4>Danger card title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </div>
  </div>

  <div>
    <div>Header</div>
    <div>
      <h4>Warning card title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </div>
  </div>
  <div>
    <div>Header</div>
    <div>
      <h4>Info card title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </div>
  </div>
  <div>
    <div>Header</div>
    <div>
      <h4>Light card title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </div>
  </div>
  <div>
    <div>Header</div>
    <div>
      <h4>Dark card title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </div>
  </div>

  <br><br>

  <!-- CARD OUTLINE -->
  <div>
    <div>Header</div>
    <div>
      <h4>Primary card title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </div>
  </div>

  <div>
    <div>Header</div>
    <div>
      <h4>Secondary card title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </div>
  </div>

  <div>
    <div>Header</div>
    <div>
      <h4>Success card title</h4>
      <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div>
    <div>Header</div>
    <div>
      <h4>Danger card title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </div>
  </div>

  <div>
    <div>Header</div>
    <div>
      <h4>Warning card title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </div>
  </div>

  <div>
    <div>Header</div>
    <div>
      <h4>Info card title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </div>
  </div>

  <div>
    <div>Header</div>
    <div>
      <h4>Light card title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </div>
  </div>

  <div>
    <div>Header</div>
    <div>
      <h4>Dark card title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </div>
  </div>

  <br><br>

  <!-- CARD GROUP -->
  <div>
    <div>
      <div>
        <h4>Card Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quas.</p>
      </div>
    </div>
    <div>
      <div>
        <h4>Card Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quas.</p>
      </div>
    </div>
    <div>
      <div>
        <h4>Card Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quas.</p>
      </div>
    </div>
  </div>

  <br><br>

  <!-- CARD DECK -->
  <div>
    <div>
      <div>
        <h4>Card Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quas.</p>
      </div>
    </div>
    <div>
      <div>
        <h4>Card Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quas.</p>
      </div>
    </div>
    <div>
      <div>
        <h4>Card Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, quas.</p>
      </div>
    </div>
  </div>

  <br><br>

  <!-- CARD COLUMNS -->
  <div>
    <div>
      <img src="http://lorempixel.com/400/200/sports/1" alt="Card image cap">
      <div>
        <h4>Card title that wraps to a new line</h4>
        <p>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
    <div>
      <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer>
          <small>
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div>
      <img src="http://lorempixel.com/400/200/sports/2" alt="Card image cap">
      <div>
        <h4>Card title</h4>
        <p>This card has supporting text below as a natural lead-in to additional content.</p>
        <p><small>Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div>
      <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
        <footer>
          <small>
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div>
      <div>
        <h4>Card title</h4>
        <p>This card has supporting text below as a natural lead-in to additional content.</p>
        <p><small>Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div>
      <img src="http://lorempixel.com/400/200/sports/3" alt="Card image">
    </div>
    <div>
      <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer>
          <small class="text-muted">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div>
      <div>
        <h4>Card title</h4>
        <p>This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p><small>Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>

</div><!-- ./container -->
