<div class="container">
  <h1 class="display-5 text-center my-4">Colors & Background</h1>

  <!--########################START HERE#########################-->

  <!-- TEXT COLORS -->
  <h3>Text Colors</h3>
  <code>&lt;p class="text-primary"&gt;Text Primary Color&lt;/p&gt;</code>
  <p class="text-primary">Text Primary Color</p>
  <code>&lt;p class="text-secondary"&gt;Text Secondary Color&lt;/p&gt;</code>
  <p class="text-secondary">Text Secondary Color</p>
  <code>&lt;p class="text-success"&gt; Text Success Color&lt;/p&gt;</code>
  <p class="text-success"> Text Success Color</p>
  <code>&lt;p class="text-info"&gt;Text Info Color&lt;/p&gt;</code>
  <p class="text-info">Text Info Color</p>
  <code>&lt;p class="text-warning"&gt;Text Warning Colo&lt;/p&gt;</code>
  <p class="text-warning">Text Warning Color</p>
  <code>&lt;p class="text-danger"&gt;Text Danger Color&lt;/p&gt;</code>
  <p class="text-danger">Text Danger Color</p>
  <code>&lt;p class="text-light bg-xxx"&gt;Text Light Color&lt;/p&gt;</code>
  <p class="text-light bg-success">Text Light Color</p>
  <code>&lt;p class="text-dark"&gt;Text Dark Color&lt;/p&gt;</code>
  <p class="text-dark">Text Dark Color</p>
  <code>&lt;p class="text-white bg-xxx"&gt;Text White Color&lt;/p&gt;</code>
  <p class="text-white bg-success">Text White Color (needs a bg color if on white)</p>
  <p class="note">text-xxx will override any other color unless style is provided after bark and light are a color </p>

  <!-- BACKGROUND COLORS -->
  <h3>Background Colors</h3>
  <code>&lt;p class="bg-primary"&gt;Background Primary Color&lt;/p&gt;</code>
  <div class="bg-primary">Background Primary Color</div>
  <code>&lt;p class="bg-secondary"&gt;Background Secondary Color&lt;/p&gt;</code>
  <div class="bg-secondary">Background Secondary Color</div>
  <code>&lt;p class="bg-success"&gt;Background Success Color&lt;/p&gt;</code>
  <div class="bg-success">Background Success Color</div>
  <code>&lt;p class="bg-info"&gt;Background Info Color&lt;/p&gt;</code>
  <div class="bg-info">Background Info Color</div>
  <code>&lt;p class="bg-warning"&gt;Background Warning Color&lt;/p&gt;</code>
  <div class="bg-warning">Background Warning Color</div>
  <code>&lt;p class="bg-danger"&gt;Background Danger Color&lt;/p&gt;</code>
  <div class="bg-danger">Background Danger Color</div>
  <code>&lt;p class="bg-light"&gt;Background Light Color&lt;/p&gt;</code>
  <div class="bg-light">Background Light Color</div>
  <code>&lt;p class="bg-dark"&gt;Background Dark Color&lt;/p&gt;</code>
  <div class="bg-dark text-white">Background Dark Color</div>
  <code>&lt;p class="bg-white"&gt;Background White Color&lt;/p&gt;</code>
  <div class="bg-white">Background White Color</div>
  <p class="note">Class bg just like doing css backgroundColor </p>

  <!-- INVISIBLE -->
  <h3>Invisible Text</h3>
  <code>&lt;p class="invisible"&gt;Hello&lt;/p&gt;</code>
  <p class="invisible">Hello</p>
  <p class="note">Class invisible not the same as css display none the paragraph is still there as ypou can see by the spacing above</p>

</div><!-- ./container -->
