<div class="container">
  <h1 class="display-5 text-center my-4">Floats & Fixed Positions</h1>

  <!--########################START HERE#########################-->

  <!-- FLOATS -->
  <h3>Floats</h3>
  <code>&lt;div class=float-right (left, none"&gt;float ... &lt;/div&gt;</code>
  <div class="float-left">Float left</div><br>
  <div class="float-right">Float right</div><br>
  <div class="float-none">Float none</div><br>
  <p class="note">Class float moves a div to left or right or none (clear)</p><br>

  <!-- RESPONSIVE FLOATS -->
  <h3>Responsive Float</h3>
  <code>&lt;div class="float-xx-xxxt&gt;float...&lt;/div&gt;</code>
  <div class="float-sm-right">Float right on small or wider</div><br>
  <div class="float-md-right">Float right on medium or wider</div><br>
  <div class="float-lg-right">Float right on large or wider</div><br>
  <div class="float-xl-right">Float right on extra large or wider</div><br>

  <div class="float-sm-left">Float left on small or wider</div><br>
  <div class="float-md-left">Float left on medium or wider</div><br>
  <div class="float-lg-left">Float left on large or wider</div><br>
  <div class="float-xl-left">Float left on extra large or wider</div><br><br>

  <div class="float-sm-none">Float none on small or wider</div><br>
  <div class="float-md-none">Float none on medium or wider</div><br>
  <div class="float-lg-none">Float none on large or wider</div><br>
  <div class="float-xl-none">Float none on extra large or wider</div><br>
  <p class="note">Class float-sm (md, lg, xl) -right (left, none) responsively will push a div depending on device or browser width</p>
  <br><br>

  <!-- CLEARFIX -->
  <code>&lt;div class="clearfix"&gt;<br>
    &lt;button class="float-left"&gt;float left&lt;/button&gt;<br>
    &lt;button class="float-right"&gt;float right&lt;/button&gt; <br>
   &lt;/div&gt;</code>
  <div class="bg-success clearfix">
    <button class="float-left">Float Left</button>
    <button class="float-right">Float Right</button>
  </div>
  <br>
  <p class="note">Class clearfix ends the previous floating fo it does not affect items that come after</p><br>

  <!-- FIXED TOP -->
  <h3>Fixed Top</h3>
  <code>&lt;h3 class="fixed-top"&gt;Fixed top&lt;'h3&gt;</code>
  <p></p>
  <p class="note">Class fixed-top will make the h3 (are any other structure) stick to the top of the page good for logos</p>
  <br>

  <!-- FIXED STICKY -->
  <h3>Sticky</h3>
  <code>&lt;h3 class="sticky-top"&gt;sticky-top&lt;'h3&gt;</code>
  <p></p>
  <p class="note ">Class sticky-top will make the h3 (are any other structure) stick to the top of the page when the user scrolls past that point and drop again if the user scroll down</p>
  <br>

  <!-- FIXED BOTTOM -->
  <h3>Fixed Bottom</h3>
  <code>&lt;h3 class="fixed-bottom"&gt;fixed-bottom&lt;'h3&gt;</code>
  <p></p>
  <p class="note">Class fixed-bottom will make the h3 (are any other structure) stick to the bottom of the page good for footers</p>
  <br>

</div><!-- ./container -->
<div style="margin-top:500px;"></div>
