<div class="container">
  <h1 class="display-5 text-center my-4">Sizing & Borders</h1>

  <!--########################START HERE#########################-->

  <!-- WIDTH CLASSES -->
  <h3>With</h3>
  <code>
    &lt;div class="w-xx"&gt;Width xx%
    &lt;/div&gt;
  </code>
  <div class="bg-success p-3 w-25">Width 25%</div>
  <div class="bg-success p-3 w-50">Width 50%</div>
  <div class="bg-success p-3 w-75">Width 75%</div>
  <div class="bg-success p-3 w-100">Width 100%</div>
  <br>
  <div class="note">Class w-xx is the same as css width</div>
  <br><br>

  <!-- HEIGHT CLASSES -->
  <h3>Height</h3>
  <code>
    &lt;div class="h-xx"&gt;Height xx%
    &lt;/div&gt;
  </code>
  <div style="height:300px;border:1px solid #333;">
    <div class="bg-primary d-inline-block h-25">Height 25%</div>
    <div class="bg-primary d-inline-block h-50">Height 50%</div>
    <div class="bg-primary d-inline-block h-75">Height 75%</div>
    <div class="bg-primary d-inline-block h-100">Height 100%</div>
  </div>
  <br>
  <div class="note">Class h-xx is the same as css width</div>
  <br><br>

  <!-- BORDERS -->
  <h3>Borders</h3>
  <span class="p-3 bg-light border">Regular</span>
  <span class="p-3 bg-light border border-primary rounded">Primary</span>
  <span class="p-3 bg-light border border-secondary rounded-top">Secondary</span>
  <span class="p-3 bg-light border border-success border-bottom-0">Success</span>
  <span class="p-3 bg-light border border-info">Info</span>
  <span class="p-3 bg-light border border-warning">Warning</span>
  <span class="p-3 bg-light border border-danger">Danger</span>
  <span class="p-3 bg-light border border-light">Light</span>
  <span class="p-3 bg-light border border-dark">Dark</span>
  <span class="p-3 bg-light border border-white">White</span>

</div><!-- ./container -->
