<div class="container">
  <h1 class="display-5 text-center my-4">Spacing</h1>

  <!--########################START HERE#########################-->

  <!-- MB MARGIN BOTTOM -->
  <h3>Margin bottom</h3>
  <code>&lt;h1 class="mb-0"&gt;Margin Bottom 0&lt;/h1&gt;</code>
  <h1 class="bg-success mb-0">Margin Bottom 0</h1>
  <h1 class="bg-success mb-1">Margin Bottom 1</h1>
  <h1 class="bg-success mb-2">Margin Bottom 2</h1>
  <h1  class="bg-success mb-3">Margin Bottom 3</h1>
  <h1 class="bg-success mb-4">Margin Bottom 4</h1>


  <br><br>

  <!-- MT MARGIN TOP -->
  <h3>Margin top</h3>
  <h1 class="bg-success mt-0">Margin Top 0</h1>
  <h1 class="bg-success mt-1">Margin Top 1</h1>
  <h1 class="bg-success mt-2">Margin Top 2</h1>
  <h1 class="bg-success mt-3">Margin Top 3</h1>
  <h1 class="bg-success mt-4">Margin Top 4</h1>
  <h1 class="bg-success mt-5">Margin Top 5</h1>

  <br><br>

  <!-- ML & MR -->
  <h3>Margin left and Margin right</h3>
  <code>&lt;p&gt;&lt;span class="mr-5"&gt;Margin Right 5&lt;/span&gt; dolor sit amet, &lt;span class="ml-3"&gt;Margin Left 3 &lt;/span&gt; elit. Voluptatum, optio.&lt;/p1&gt;</code>
  <p><span class="bg-success mr-5">Margin Right 5</span> dolor sit amet, <span class="bg-success ml-3">Margin Left 3 </span> elit. Voluptatum, optio.</p>

  <br><br>

  <!-- MX MARGIN LEFT RIGHT -->
  <h3>Margin left and right</h3>
  <code>
    &lt;p&gt;Lorem ipsum
    &lt;span class="mx-5&gt;Margin Left & Right 5
    &lt;/span&gt;, consectetur elit. Voluptatum, optio.
    &lt;/p&gt;
  </code>
  <p>Lorem ipsum<span class="bg-success mx-5">Margin Left & Right 5</span>, consectetur elit. Voluptatum, optio.</p>

  <br><br>

  <!-- MY  MARGIN TOP BOTTOM -->
  <h3>Margin top and bottom</h3>
  <code>
    &lt;p class="my-5"&gt;Margin Top & Bottom 5
    &lt;/p&gt;
  </code>
  <p>Lorem ipsum dolor sit amet, consectetur elit. Voluptatum, optio.</p>
  <p class="bg-success my-5">Margin Top & Bottom 5</p>
  <p>Lorem ipsum dolor sit amet, consectetur elit. Voluptatum, optio.</p>

  <br><br>

  <!-- BLANK - ALL SIDES -->
  <h3>Margin all sides</h3>
  <code>
    &lt;p class="m-5"&gt;Margin All Sides 5
    &lt;/p&gt;
  </code>
  <p>Lorem ipsum dolor sit amet, consectetur elit. Voluptatum, optio.</p>
  <p class="bg-success m-5">Margin All Sides 5 </p>
  <p>Lorem ipsum dolor sit amet, consectetur elit. Voluptatum, optio.</p>
  <div class="note">Class m 0 to 1 b,t,l,...</div>
  <br><br>

  <!-- PB PADDING BOTTOM -->
  <h3>Padding Bottom</h3>
  <code>
    &lt;h1 class pb-x&gt;Padding Bottom x
    &lt;/h1&gt;
  </code>
  <h1 class="bg-warning pb-0">Padding Bottom 0</h1>
  <h1 class="bg-warning pb-1">Padding Bottom 1</h1>
  <h1 class="bg-warning pb-2">Padding Bottom 2</h1>
  <h1 class="bg-warning pb-3">Padding Bottom 3</h1>
  <h1 class="bg-warning pb-4">Padding Bottom 4</h1>
  <h1 class="bg-warning pb-5">Padding Bottom 5</h1>

  <br><br>

  <!-- PT PADDING TOP -->
  <h3>Padding Top</h3>
  <code>
    &lt;h1 class pt-x&gt;Padding top x
    &lt;/h1&gt;
  </code>
  <h1 class="bg-warning pt-0">Padding Top 1</h1>
  <h1 class="bg-warning pt-1">Padding Top 2</h1>
  <h1 class="bg-warning pt-2">Padding Top 3</h1>
  <h1 class="bg-warning pt-3">Padding Top 4</h1>
  <h1 class="bg-warning pt-4">Padding Top 5</h1>

  <br><br>

  <!-- PL & PR -->
  <h3>Padding left and Padding right</h3>
  <code>
    &lt;p&gt;
    &lt;span class="pr-5&gt;Padding Right 5
    &lt;/span&gt;dolor sit amet,
    &lt;span class="pl-3&gt;Padding Left 3
    &lt;/span&gt; elit. Voluptatum, optio.
    &lt;/p&gt;
  </code>
  <p><span class="bg-warning pr-5">Padding Right 5</span> dolor sit amet, <span class="bg-warning pl-3">Padding Left 3 </span> elit. Voluptatum, optio.</p>

  <br><br>

  <!-- PX PADDING LEFT RIGHT -->
  <h3>Padding left and right</h3>
  <code>
    &lt;p&gt;Lorem ipsum
    &lt;span class="px-5"&gt;Padding Left & Right 5
    &lt;/span&gt;
    &lt;/p&gt;
  </code>
  <p>Lorem ipsum<span class="bg-warning px-5">Padding Left & Right 5</span>, consectetur elit. Voluptatum, optio.</p>

  <br><br>

  <!-- PY  PADDING TOP BOTTOM -->
  <h3>Padding left and right</h3>
  <code>
    &lt;p class="pt-5"&gt;Padding Top & Bottom 5
    &lt;/p&gt;
  </code>
  <p class="bg-warning py-5">Padding Top & Bottom 5</p>
  <br><br>

  <!-- BLANK - ALL SIDES -->
  <h3>Padding all sides</h3>
  <code>
    &lt;p class="p-5"&gt;Padding All Sides 5
    &lt;/p&gt;
  </code>
  <p class="bg-warning p-5">Padding All Sides 5</p>

  <!-- CENTER ALIGN -->
  <h3>Center Align</h3>
  <code>
    &lt;div class=mx-auto"&gt;Center Align
    &lt;/div&gt;
  </code>
  <div class="bg-danger mx-auto text-center" style="width: 200px;">
    Center Align
  </div>

</div><!-- ./container -->
