<div class="container">
  <h1 class="display-5 text-center my-4">Tooltips</h1>

  <!--########################START HERE#########################-->

  <!-- TOOLTIPS -->
  <button>Tooltip On Top</button>
  <button>Tooltip On Right</button>
  <button>Tooltip On Bottom</button>
  <button>Tooltip On Left</button>

  <br><br>

  <!-- TOOLTIPS WITH HTML -->
  <button>Tooltip On With HTML</button>

  <hr>

  <!-- TRIGGER WITH JS -->
  <button>
    Show Tooltip
  </button>

  <button>
    Hide Tooltip
  </button>

  <button>
    Toggle Tooltip
  </button>

</div>
