<div class="container">
  <h1 class="display-5 text-center my-4">Alerts & Progress Bars</h1>

  <!--########################START HERE#########################-->

  <!-- ALERTS -->
  <div>
    <strong>Primary</strong> Blog post added
  </div>

  <div>
    <strong>Secondary</strong> Blog post added
  </div>

  <div>
    <strong>Success</strong> Blog post added
  </div>

  <div>
    <strong>Danger</strong> Please check the log files
  </div>

  <div>
    <strong>Info</strong> You have a new message
  </div>

  <div>
    <strong>Warning</strong> Please check the log files
  </div>

  <div>
    <strong>Light</strong> Please check the log files
  </div>

  <div>
    <strong>Dark</strong> Please check the log files
  </div>


  <!-- DISMISSABLE ALERT -->
  <div>
    <button type="button">
      <span>&times;</span>
    </button>
    <strong>Dismissable</strong> Blog post added
  </div>

  <br><br>

  <!-- PROGRESS BARS -->
  <div>
    <div></div>
  </div>
  <br>
  <div>
    <div></div>
  </div>
  <br>
  <div>
    <div></div>
  </div>
  <br>
  <div>
    <div></div>
  </div>
  <br>
  <div>
    <div></div>
  </div>
  <br>
  <div>
    <div></div>
  </div>
  <br>
  <div>
    <div></div>
  </div>

</div><!-- ./container -->
