<div class="container">
  <h1 class="display-5 text-center my-4">Carousel Slider</h1>

  <!--######################START HERE#######################-->

  <div class="row">
    <div class="col-sm-8 m-auto">

      <!-- SIMPLE SLIDER -->
      <div>
        <div>
          <div>
            <img src="img/image1.jpg" alt="First Slide">
          </div>
          <div>
            <img src="img/image2.jpg" alt="Second Slide">
          </div>
          <div>
            <img src="img/image3.jpg" alt="Third Slide">
          </div>
        </div>
      </div>

      <!-- SLIDER WITH CONTROLS -->

      <!-- SLIDER WITH INDICATORS -->

      <!-- SLIDER WITH CAPTIONS -->

    </div>
  </div>
</div>
