<div class="container">
  <h1 class="display-5 text-center my-4">Collapse & Accordion</h1>

  <!--########################START HERE#########################-->

  <!-- BUTTON WITH COLLAPSE -->
  <button>Read More</button>

  <div>
    <div>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit eius libero quisquam nobis explicabo vel non necessitatibus ipsum doloribus cupiditate voluptate recusandae quo autem error debitis, sed, minima repellendus commodi.
      </div>
    </div>
  </div>

  <!-- ACCORDION -->
  <div>
    <div>
      <div>
        <h5><a href="#">
          Collapse One
        </a></h5>
      </div>

      <div>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ea iste a doloremque, cumque, debitis eum vel ipsum architecto aut, recusandae totam ullam aperiam. Nesciunt expedita officiis animi quam corporis optio inventore facilis sint et nulla in, repellat debitis dolor at nisi quo, unde temporibus. Quos nisi nostrum officia, illo.
        </div>
      </div>
    </div>

    <div>
      <div>
        <h5><a href="#">
          Collapse Two
        </a></h5>
      </div>

      <div>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ea iste a doloremque, cumque, debitis eum vel ipsum architecto aut, recusandae totam ullam aperiam. Nesciunt expedita officiis animi quam corporis optio inventore facilis sint et nulla in, repellat debitis dolor at nisi quo, unde temporibus. Quos nisi nostrum officia, illo.
        </div>
      </div>
    </div>

    <div>
      <div>
        <h5><a href="#">
          Collapse Three
        </a></h5>
      </div>

      <div>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ea iste a doloremque, cumque, debitis eum vel ipsum architecto aut, recusandae totam ullam aperiam. Nesciunt expedita officiis animi quam corporis optio inventore facilis sint et nulla in, repellat debitis dolor at nisi quo, unde temporibus. Quos nisi nostrum officia, illo.
        </div>
      </div>
    </div>
  </div>
</div>
