<div class="container">
  <h1 class="display-5 text-center my-4">Colors & Background</h1>

  <!--########################START HERE#########################-->

  <!-- TEXT COLORS -->
  <p>Text Primary Color</p>
  <p>Text Secondary Color</p>
  <p>Text Success Color</p>
  <p>Text Info Color</p>
  <p>Text Warning Color</p>
  <p>Text Danger Color</p>
  <p>Text Light Color</p>
  <p>Text Dark Color</p>
  <p>Text White Color</p>

  <!-- BACKGROUND COLORS -->
  <div>Background Primary Color</div>
  <div>Background Secondary Color</div>
  <div>Background Success Color</div>
  <div>Background Info Color</div>
  <div>Background Warning Color</div>
  <div>Background Danger Color</div>
  <div>Background Light Color</div>
  <div>Background Dark Color</div>
  <div>Background White Color</div>

  <!-- INVISIBLE -->
  <p>Hello</p>

</div><!-- ./container -->
