<div class="container">
  <h1 class="display-5 text-center my-4">Flexbox</h1>

  <!--########################START HERE#########################-->

  <!-- FLEX ROW & FLEX ITEMS -->
  <div class="row-hl">
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
  </div>

  <br><br>

  <!-- FLEX ROW REVERSE -->
  <div class="row-hl">
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
  </div>

  <br><br>

  <!-- JUSTIFY CONTENT -->
  <div class="row-hl">
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
  </div>

  <br><br>

  <div class="row-hl">
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
  </div>

  <br><br>

  <div class="row-hl">
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
  </div>

  <br><br>

  <div class="row-hl">
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
  </div>

  <br><br>

  <div class="row-hl">
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
  </div>

  <br><br>

  <!-- FLEX CONTAINER / FLEX COLUMN -->
  <div class="row-hl">
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
  </div>

  <br><br>

  <div class="row-hl">
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
  </div>

  <br><br>

  <!-- VERTICAL ALIGN ITEMS -->
  <div class="row-hl">
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
  </div>

  <br><br>

  <!-- VERTICAL ALIGN ITEMS -->
  <div class="row-hl">
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
  </div>

  <br><br>

  <!-- VERTICAL ALIGN ITEMS -->
  <div class="row-hl">
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
  </div>

  <br><br>

  <!-- VERTICAL ALIGN ITEMS -->
  <div class="row-hl">
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
  </div>

  <br><br>

  <!-- VERTICAL ALIGN ITEMS -->
  <div class="row-hl">
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
  </div>

  <br><br>

  <!-- RESPONSIVE VERTICAL ALIGN -->
  <div class="row-hl">
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
  </div>

  <br><br>

  <!-- ALIGN SELF -->
  <div class="row-hl">
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
  </div>

  <br><br>

  <!-- RESPONSIVE ALIGN SELF -->
  <div class="row-hl">
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
    <div class="p-4 item-hl">Flex Item</div>
  </div>
</div>
