<div class="container">
  <h1 class="display-5 text-center my-4">Grid Alignment</h1>

  <!--########################START HERE#########################-->

  <!-- VERTICAL ALIGNMENT -->
  <div class="container">
    <div class="row" style="height:200px;border:1px #333 solid">
      <div class="col">
        Top Aligned Text
      </div>
      <div class="col">
        Top Aligned Text
      </div>
      <div class="col">
        Top Aligned Text
      </div>
    </div>
    <div class="row" style="height:200px;border:1px #333 solid">
      <div class="col">
        Middle Aligned Text
      </div>
      <div class="col">
        Middle Aligned Text
      </div>
      <div class="col">
        Middle Aligned Text
      </div>
    </div>
    <div class="row" style="height:200px;border:1px #333 solid">
      <div class="col">
        Bottom Aligned Text
      </div>
      <div class="col">
        Bottom Aligned Text
      </div>
      <div class="col">
        Bottom Aligned Text
      </div>
    </div>
  </div>

  <br><br>

  <!-- VERTICAL ALIGN INDIVIDUAL COLS -->
  <div class="container">
    <div class="row" style="height:200px;border:1px #333 solid">
      <div class="col">
        Top Aligned
      </div>
      <div class="col">
        Middle Aligned
      </div>
      <div class="col">
        Bottom Aligned
      </div>
    </div>
  </div>

  <br><br>

  <!-- HORIZONTAL ALIGNED COLS -->
  <div class="container">
    <div class="row" style="height:200px;border:1px #333 solid">
      <div class="col-4">
        Left Aligned Text
      </div>
      <div class="col-4">
        Left Aligned Text
      </div>
    </div>
    <div class="row" style="height:200px;border:1px #333 solid">
      <div class="col-4">
        Center Aligned Text
      </div>
      <div class="col-4">
        Center Aligned Text
      </div>
    </div>
    <div class="row" style="height:200px;border:1px #333 solid">
      <div class="col-4">
        Right Aligned Text
      </div>
      <div class="col-4">
        Right Aligned Text
      </div>
    </div>
    <div class="row" style="height:200px;border:1px #333 solid">
      <div class="col-4">
        Content Around
      </div>
      <div class="col-4">
        Content Around
      </div>
    </div>
    <div class="row" style="height:200px;border:1px #333 solid">
      <div class="col-4">
        Content Between
      </div>
      <div class="col-4">
        Content Between
      </div>
    </div>
  </div>

  <br><br>

  <!-- COLUMN WRAPPING & NO GUTTERS-->
  <div class="row">
    <div class="col-9">
      <div class="card">
        <div class="card-block"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, repudiandae!</p></div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-block"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, repudiandae!</p></div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-block"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, repudiandae!</p></div>
      </div>
    </div>
  </div>
</div>
