<div class="container">
  <h1 class="display-5 text-center my-4">List Groups & Badges</h1>

  <!--########################START HERE#########################-->

  <!-- LIST GROUP -->
  <ul>
    <li>My List Item One</li>
    <li>My List Item Two</li>
    <li>My List Item Three</li>
    <li>My List Item Four</li>
    <li>My List Item Five</li>
  </ul>

  <!-- LIST GROUP WITH LINKS -->
  <ul>
    <a href="#">My List Item One</a>
    <a href="#">My List Item Two</a>
    <a href="#">My List Item Three</a>
    <a href="#">My List Item Four</a>
    <a href="#">My List Item Five</a>
  </ul>


  <!-- CONTEXTUAL CLASSES -->
  <ul>
    <li>Regular List Item</li>
    <li>Primary List Item</li>
    <li>Secondary List Item</li>
    <li>Success List Item</li>
    <li>Info List Item</li>
    <li>Warning List Item</li>
    <li>Danger List Item</li>
    <li>Light List Item</li>
    <li>Dark List Item</li>
  </ul>


  <!-- JAVASCRIPT BEHAVIOR -->
  <div class="row mb-5">
    <div class="col-4">

    </div>
    <div class="col-8">

    </div>
  </div>

  <!-- BREADCRUMB -->
  <ol>
    <li>Home</li>
  </ol>
  <ol>
    <li><a href="#">Home</a></li>
    <li>Users</li>
  </ol>
  <ol>
    <li><a href="#">Home</a></li>
    <li><a href="#">Users</a></li>
    <li>Brad</li>
  </ol>

</div><!-- ./container -->
