<div class="container">
  <h1 class="display-5 text-center my-4">Modals</h1>

  <!--#####################START HERE#########################-->

  <!-- MODAL TRIGGER -->
  <button>Launch Modal</button>

  <!-- MODAL -->
  <div>
    <div>
      <div>
        <div>
          <h5>Modal Title</h5>
          <button>&times;</button>
        </div>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus unde veniam harum magnam molestias dignissimos omnis architecto, quod, obcaecati dolorum debitis dolore porro qui, iusto quo accusantium voluptates pariatur illo.
        </div>
        <div>
          <button>Close</button>
        </div>
      </div>
    </div>
  </div>

  <br><br>

  <!-- LOGIN MODAL TRIGGER -->


  <!-- LOGIN MODAL -->

</div>
