<div class="container">
  <h1 class="display-5 text-center my-4">Popovers</h1>

  <!--########################START HERE#########################-->

  <!-- POPOVER -->
  <button>
    Toggle popover
  </button>

  <button>
    Toggle popover
  </button>

  <button>
    Toggle popover
  </button>

  <button>
    Toggle popover
  </button>

  <br><br>

  <!-- DISMISSIBLE POPOVER -->
  <button>
    Toggle popover
  </button>

  <hr>

  <!-- CONTROL WITH JS -->
  <button>Show Popover</button>
  <button>Hide Popover</button>
  <button>Toggle Popover</button>
</div>
