<div class="container">
  <h1 class="display-5 text-center my-4">Sizing & Borders</h1>

  <!--########################START HERE#########################-->

  <!-- WIDTH CLASSES -->
  <div>Width 25%</div>
  <div>Width 50%</div>
  <div>Width 75%</div>
  <div>Width 100%</div>

  <br><br>

  <!-- HEIGHT CLASSES -->
  <div style="height:300px;border:1px solid #333;">
    <div>Height 25%</div>
    <div>Height 50%</div>
    <div>Height 75%</div>
    <div>Height 100%</div>
  </div>

  <br><br>

  <!-- BORDERS -->
  <span class="p-3 bg-light">Regular</span>
  <span class="p-3 bg-light">Primary</span>
  <span class="p-3 bg-light">Secondary</span>
  <span class="p-3 bg-light">Success</span>
  <span class="p-3 bg-light">Info</span>
  <span class="p-3 bg-light">Warning</span>
  <span class="p-3 bg-light">Danger</span>
  <span class="p-3 bg-light">Light</span>
  <span class="p-3 bg-light">Dark</span>
  <span class="p-3 bg-light">White</span>

</div><!-- ./container -->
